<!DOCTYPE html>
<html  lang="en" ng-app  >
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
         <script src="../angular/angular.min.js"></script> 
<!--        <script src="../angular/code.js"></script>
 -->     
           
      
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
 
    var url = "http://api.qingyunke.com/api.php"
    function myCtrl($scope, $http){
    	
    	 $scope.Request = {
    			 key:'free',
    	         appid:'0',
    	         msg:''
    	    };
    
        $scope.msg="";
        	$scope.ask= function() {
        		 $http.get('http://api.qingyunke.com/api.php?key=free&appid=0&msg=北京天气').success(function(data){
         			$scope.msg = data;
         		});
       
        } 
        
    }
    </script>
    
  </head>
  
 
  <body class="layui-anim layui-anim-up"   ng-controller="myCtrl"  >
  
   
      
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>请输入
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username"  ng-model="Request.Msg" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
           
          </div>
  
           <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>{{msg}}
              </label>
          </div>
         
        
          <div class="layui-form-item layui-form-text" >
            
          </div>
          <div class="layui-form-item layui-form-text">
           
              
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add"   ng-click="ask()" lay-submit="">
                  
              </button>
           
          </div>
  

  </body>

</html>